body{
    font-family: 'Kanit', sans-serif;
    background: #84B1FF;
}

.header_div{
    background: #FFFB84;
    color: #FF8484;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: #5F4D87;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: #874D6B;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #EBF0FF;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(235, 255, 253);
    
}